{% extends 'base.html.twig' %}

{% block body %}
    <div align="center">
        <p>*If product and category are empty the promotion is global.</p>
        <div style="width: 300px;">
            <h1>Promotion edit</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit"/>
            {{ form_end(edit_form) }}

                    <br><a href="{{ path('admin_promotion_index') }}">Back to the list</a><br>

                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
