{% extends 'base.html.twig' %}

{% block body %}
    <div align="center">
        <h1>Promotions list</h1>
        <p>*If product and category are empty the promotion is global.</p>
        <div style="max-width: 1024px;">
            <table class="table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Percent</th>
                    <th style="width: 150px;">Product</th>
                    <th style="width: 150px;">Category</th>
                    <th style="width: 100px;">Global</th>
                    <th style="width: 150px;">Startdate</th>
                    <th style="width: 150px">Enddate</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for promotion in promotions %}
                    <tr>
                        <td><a href="{{ path('admin_promotion_show', { 'id': promotion.id }) }}">{{ promotion.id }}</a>
                        </td>
                        <td align="center">{{ promotion.percent }}%</td>
                        <td>{% if promotion.product %}{{ promotion.product.title }}{% endif %}</td>
                        <td>{% if promotion.category %}{{ promotion.category.name }}{% endif %}</td>
                        <td>{% if promotion.product or promotion.category %}No{% else %}Global{% endif %}</td>
                        <td>{% if promotion.startDate %}{{ promotion.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if promotion.endDate %}{{ promotion.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_promotion_show', { 'id': promotion.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_promotion_edit', { 'id': promotion.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h2><a href="{{ path('admin_promotion_new') }}">Create a new promotion</a></h2>
        </div>
    </div>
    <div align="center">
        <div class="navigation">
            {{ knp_pagination_render(promotions) }}
        </div>
    </div>
{% endblock %}
