{% extends 'base.html.twig' %}

{% block body %}
    <div align="center">
        <h1>Promotion</h1>

        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>Percent</th>
                <td>{{ promotion.percent }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if promotion.startDate %}{{ promotion.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if promotion.endDate %}{{ promotion.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('admin_promotion_index') }}">Back to the list</a><br>

        <a href="{{ path('admin_promotion_edit', { 'id': promotion.id }) }}">Edit</a><br>

        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
