<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}MShop{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('styles/main.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MShop</a>
            </div>
            {% set route = app.request.attributes.get('_route') %}
            <ul class="nav navbar-nav">
                <li {{ route ==  'mix_s_homepage' ? 'class="active"' }}>
                    <a href="{{ path('mix_s_homepage') }}"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                    <li {{ route ==  'edit_product_index' ? 'class="active"' }}><a
                                href="{{ path('edit_product_index') }}"><span class="glyphicon glyphicon-edit"></span>
                            Edit Products</a></li>
                    <li {{ route ==  'edit_productcategory_index' ? 'class="active"' }}><a
                                href="{{ path('edit_productcategory_index') }}"><span class="glyphicon
                            glyphicon-edit"></span> Edit Categories</a></li>
                {% endif %}
                <li class="dropdown" {{ route ==  'mix_s_product_categories_display' ? 'class="active"' }}>
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       href="{{ path('mix_s_product_categories_display') }}">Categories
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {{ route ==  'mix_s_product_categories_display' ? 'class="active"' }}><a
                                    href="{{ path('mix_s_product_categories_display') }}">All Categories</a></li>
                        <li class="divider"></li>
                        {#{% for category in productCategories %}
                            <li {{ route == '' ? 'class="active"' }}><a
                                        href="{{ path('mix_s_category_display', {id: category.id}) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}#}
                    </ul>
            </ul>
            {% if app.user %}
                <ul class="nav navbar-nav navbar-right">
                    <li {{ route == '' ? 'class="active"' }}><a href="#"><span
                                    class="glyphicon glyphicon-shopping-cart">
                                        </span> Cart</a></li>
                    <li {{ route ==  'fos_user_profile_show' ? 'class="active"' }}><a
                                href="{{ path('fos_user_profile_show') }}">
                            <span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li {{ route ==  'fos_user_security_logout' ? 'class="active"' }}><a
                                href="{{ path('fos_user_security_logout') }}">
                            <span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            {% elseif not app.user %}
                <ul class="nav navbar-nav navbar-right">
                    <li {{ route ==  'fos_user_registration_register' ? 'class="active"' }}><a
                                href="{{ path('fos_user_registration_register') }}">
                            <span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li {{ route ==  'fos_user_security_login' ? 'class="active"' }}><a
                                href="{{ path('fos_user_security_login') }}">
                            <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
</body>
<footer class="container-fluid text-center">
    {% block footer %}
        <p>MShop Copyright</p>
    {% endblock %}
</footer>
</html>

