{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    <div align="center">
        <div style="max-width: 1024px;">
            <table class="table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th width="100px">Status</th>
                    <th width="200px">Last Login</th>
                    <th>Role</th>
                    <th>Current Balance</th>
                    <th width="80px">Inventory</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="">{{ user.id }}</a></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td align="center">{% if user.enabled == 1 %}
                                <div style="color: green">active</div>
                                <form action="{{ path('mix_s_admin_user_ban') }}" method="post">
                                    <input type="hidden" title="user" name="user" value="{{ user.id }}">
                                    <button class="btn btn-danger" type="submit">ban</button>
                                </form>
                            {% elseif user.enabled != 1 %}
                                <div style="color: red">banned</div>
                            {% endif %}</td>
                        <td align="center">{{ user.lastLogin|date('d.m.y H:i') }}</td>
                        <td align="center">{{ user.roles[0] }}<br>
                            {% if user.roles[0] == 'ROLE_USER' %}
                                <form action="{{ path('mix_s_admin_user_role_change') }}" method="post">
                                    <input type="hidden" title="user" name="user" value="{{ user.id }}">
                                    <button class="btn btn-warning" type="submit">make editor</button>
                                </form>
                            {% elseif user.roles[0] == 'ROLE_EDITOR' %}
                                <form action="{{ path('mix_s_admin_user_role_change') }}" method="post">
                                    <input type="hidden" title="user" name="user" value="{{ user.id }}">
                                    <button class="btn btn-primary" type="submit">unmake editor</button>
                                </form>
                            {% endif %}
                        </td>
                        <td align="center">$ {{ user.currentBalance }}<br>
                            <form action="{{ path('mix_s_admin_user_setbalance') }}" method="post">
                                <input type="hidden" title="user" name="user" value="{{ user.id }}">
                                <input type="number" title="newBalance" name="newBalance">
                                <button class="btn btn-success" type="submit">Set</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ path('mix_s_admin_user_inventory') }}" method="post">
                                <input type="hidden" title="user" name="user" value="{{ user.id }}">
                                <button class="btn btn-info" type="submit">Inventory</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div align="center">
        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}
