{% extends '::base.html.twig' %}
{% block title %}{{ product.title }}{% endblock %}
{% block body %}

    <br><br>
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <img src="/images/productimages/{{ product.image }}"
                                     style="width: 400px"></div>
                        </div>
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{ product.title }}</h3>
                        <h5>Category: {{ product.productcategory.name }}</h5>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no">41 reviews</span>
                        </div>
                        <p class="product-description">{{ product.description }}</p>
                        <h4 class="price">current price:
                            <span>
                                {% set promoPrice = promoServ.calculatePromotedPrice(product) %}
                                {% if promoPrice != product.price %}
                                    <del style="color: gray;"><h5>${{ product.price|number_format(2) }}</h5></del>
                                    ${{ promoPrice|number_format(2) }}
                                {% else %}
                                    ${{ product.price|number_format(2) }}
                                {% endif %}
                            </span></h4>
                        <h5>Quantity left: {{ product.quantity }}</h5>
                        <div class="action">
                            {% if app.user %}
                                <form action="{{ path('mix_s_cart_addproduct', {productId: product.id}) }}"
                                      method="post">
                                    Quantity:
                                    <input type="number" value="1" title="quantity" name="quantity" min="1"
                                           max="{{ product.quantity }}" style="width: 3em">
                                    <button class="add-to-cart btn btn-primary" type="submit">add to cart</button>
                                </form>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">
                                    <button class="add-to-cart btn btn-default" type="button">Login to add to cart
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        {% if is_granted('ROLE_USER') %}
            <div class="well" align="center">
                <button data-toggle="collapse" data-target="#leavereview" class="btn btn-info btn-lg"><span
                            class="glyphicon glyphicon-pencil"></span> Leave a review
                </button>
                <div id="leavereview" class="collapse">
                    <br>
                    {{ render(controller('MixSBundle:Review:newReviewForm', {id: product.id})) }}
                </div>
            </div>
        {% endif %}
        <div class="well" align="center">
            {% if reviews.items %}
                <button data-toggle="collapse" data-target="#allreviews" class="btn btn-info btn-lg"><span
                            class="glyphicon glyphicon-book"></span> All reviews
                </button>
            {% else %}
                <button data-toggle="collapse" data-target="#allreviews" class="btn btn-info btn-lg disabled"><span
                            class="glyphicon glyphicon-book"></span> No reviews yet
                </button>
            {% endif %}
            <div id="allreviews" class="collapse">
                <br>
                {% for review in reviews %}
                    <h4>Title:</h4> <p>{{ review.title }}</p>
                    <h4>Rating:</h4> <p>{{ review.rating }}/5</p>
                    <h4>User:</h4><p>{{ review.user.username }}</p>
                    <h4>Review:</h4><p>{{ review.review }}</p>
                    {% if is_granted('ROLE_EDITOR') %}
                        <form action="{{ path('mix_s_admin_review_delete', {id: product.id}) }}">
                            <input type="hidden" name="deleteReview" title="deleteReview" value="{{ review.id }}">
                            <button class="add-to-cart btn btn-default" type="submit">Delete Review</button>
                        </form>
                    {% endif %}
                    <br>
                {% endfor %}
                <div align="center">
                    <div class="navigation">
                        {{ knp_pagination_render(reviews) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}