{% extends '::base.html.twig' %}

{% block title %}
    {% set route = app.request.attributes.get('_route') %}
    {% if route == 'mix_s_homepage' %}
        Homepage
    {% elseif route == 'mix_s_category_display' and products.items[0] %}
        {{ products.items[0].productcategory.name }}
    {% else %}
        MShop
    {% endif %}
{% endblock %}

{% block body %}
    {% set route = app.request.attributes.get('_route') %}
    {% if route == 'mix_s_category_display' %}
        <h3 align="center">
            Category: {% if products.items[0] %}{{ products.items[0].productcategory.name }}{% endif %}</h3>
    {% endif %}
    <div class="well" align="center">
        <button data-toggle="collapse" data-target="#filters" class="btn btn-info btn-lg"><span
                    class="glyphicon glyphicon-filter"></span> Filters
        </button>
        <div id="filters" class="collapse">
            <br>
            <form action="{{ path('mix_s_products_filtered_display') }}" method="get">
                <input name="search" title="search" type="text">
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="row">
            {% for product in products %}
                {% set promoPrice = promoServ.calculatePromotedPrice(product) %}
                <div class="col-sm-4">
                    <a href="{{ path('mix_s_product_display', {id: product.id}) }}">
                        <div class="panel panel-{% if promoPrice != product.price %}danger{% else %}info{% endif %}"
                             style="height: 400px;">
                            <div class="panel-heading">
                                <h4>{{ product.productcategory.name }} {{ product.title|slice(0,20) }}</h4></div>
                            <div class="panel-body" align="center" style="height:250px"><img
                                        src="/images/productimages/{{ product.image }}"
                                        class="img-responsive" style="height:100%" alt="Image"></div>
                            <div class="panel-footer" align="center" style="height: 87px;">
                                {% if promoPrice != product.price %}
                                    <del style="color: gray;"><h5>${{ product.price|number_format(2) }}</h5></del>
                                    <h4 style="color: red;">${{ promoPrice|number_format(2) }}</h4>
                                {% else %}
                                    <h4>${{ product.price|number_format(2) }}</h4>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div align="center">
        <div class="navigation">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}