{% extends '::base.html.twig' %}

{% block title %}
    {% set route = app.request.attributes.get('_route') %}
    {% if route == 'mix_s_homepage' %}
        Homepage
    {% elseif route == 'mix_s_category_display' and productInfo %}
        {{ productInfo[0].productcategory.name }}
    {% else %}
        MShop
    {% endif %}
{% endblock %}

{% block body %}
    {% set route = app.request.attributes.get('_route') %}
    {% if route == 'mix_s_category_display' %}
        <h3 align="center">Category: {% if productInfo %}{{ productInfo[0].productcategory.name }}{% endif %}</h3>
    {% endif %}
    <div class="well" align="center">
        <button data-toggle="collapse" data-target="#filters" class="btn btn-info btn-lg"><span
                    class="glyphicon glyphicon-filter"></span> Filters
        </button>
        <div id="filters" class="collapse">
            <form action="{{ path('mix_s_products_filtered_display') }}" method="post">
                Price range:
                <br>
                <input type="number" name="minPrice" title="minPrice" style="width: 4em;">
                <input type="number" name="maxPrice" title="maxPrice" style="width: 4em;">
                <br>
                Min / Max
                <br>
                <input type="submit" value="Filter!">
            </form>
        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-sm-4">
                    <a href="{{ path('mix_s_product_display', {id: product.id}) }}">
                        <div class="panel panel-primary" style="height: 400px">
                            <div class="panel-heading">
                                <h4>{{ product.productcategory.name }} {{ product.title|slice(0,20) }}</h4></div>
                            <div class="panel-body" align="center" style="height:250px"><img
                                        src="/images/productimages/{{ product.image }}"
                                        class="img-responsive" style="height:100%" alt="Image"></div>
                            <div class="panel-footer" align="center" style="height: 87px;">
                                {% set promoPrice = promoServ.calculatePromotedPrice(product) %}
                                {% if promoPrice != product.price %}
                                    <del style="color: gray;"><h5>${{ product.price|number_format(2) }}</h5></del>
                                    <h4>${{ promoPrice|number_format(2) }}</h4>
                                {% else %}
                                    <h4>${{ product.price|number_format(2) }}</h4>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if pages >= 1 %}
        <div align="center">
            <ul class="pagination">
                {% if route ==  'mix_s_homepage' %}
                    {% for key in pages %}
                        <li><a href="{{ path('mix_s_homepage', {page: key}) }}">{{ key }}</a></li>
                    {% endfor %}
                {% elseif route == 'mix_s_category_display' and productInfo %}
                    {% for key in pages %}
                        <li><a href="{{ path('mix_s_category_display',
                            {catId: productInfo[0].productcategory.id ,page: key}) }}">{{ key }}</a></li>
                    {% endfor %}
                {% elseif route == 'mix_s_products_filtered_display' %}
                    {% for key in pages %}
                        <li><a href="{{ path('mix_s_products_filtered_display', {page: key}) }}">{{ key }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}