{% extends '::base.html.twig' %}
{% block title %}{{ user.username }}'s cart{% endblock %}

{% block body %}
    <div align="center">
        <h3>{{ user.username }}'s cart</h3>
    </div><br>
    {% if app.session.flashBag.has('success') %}
        <div align="center">
            {% for message in app.session.flashBag.get('success') %}
                <h3 style="color: green;">{{ message }}</h3>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    {% if items.items %}
        <div align="center">
            <div style="max-width: 1024px;">
                <table class="table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th width="300px">Description</th>
                        <th width="100px">Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set totalPrice = 0 %}
                    {% set totalDiscount = 0 %}
                    {% for product in items %}
                        <tr>
                            <td align="center"><img src="/images/productimages/{{ product.product.image }}"
                                                    style="height: 50px"></td>
                            <td>{{ product.product.title }}</td>
                            <td>{{ product.product.description }}</td>
                            <td align="center">
                                {% set promoPrice = promoServ.calculatePromotedPrice(product.product) %}
                                {% if promoPrice != product.product.price %}
                                    {% set totalPrice = totalPrice + (promoPrice * product.quantity) %}
                                    {% set totalDiscount =
                                    totalDiscount + ((product.product.price - promoPrice) * product.quantity) %}
                                    <del style="color: gray;"><h5>${{ product.product.price|number_format(2) }}</h5>
                                    </del>
                                    ${{ promoPrice|number_format(2) }}
                                {% else %}
                                    {% set totalPrice = totalPrice + (product.product.price * product.quantity) %}
                                    ${{ product.product.price|number_format(2) }}
                                {% endif %}</td>
                            <td align="center">{{ product.quantity }}</td>
                            <td align="center">
                                {% if promoPrice != product.product.price %}
                                    {% set totalPriceProduct = promoPrice * product.quantity %}
                                    <del style="color: gray;"><h5>
                                            ${{ product.product.price * product.quantity|number_format(2) }}</h5>
                                    </del>
                                    ${{ totalPriceProduct|number_format(2) }}
                                {% else %}
                                    {% set totalPriceProduct = product.product.price * product.quantity %}
                                    ${{ totalPriceProduct|number_format(2) }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('mix_s_product_display', {id: product.product.id}) }}">
                                    <button class="btn btn-info"><span
                                                class="glyphicon glyphicon-eye-open"></span></button>
                                </a>
                                <a href="{{ path('mix_s_cart_removeproduct', {productId: product.id}) }}">
                                    <button class="btn btn-danger"><span
                                                class="glyphicon glyphicon-trash"></span></button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <h3>Total price: $ {{ totalPrice|number_format(2) }}</h3>
            {% if totalDiscount != 0 %}
                <h4>Total discount: $ {{ totalDiscount|number_format(2) }}</h4>
            {% else %}
                <h4>No discount detected.</h4>
            {% endif %}
            <br>
            <br>
            <a href="{{ path('mix_s_cart_checkout') }}">
                <button type="button" class="btn btn-success btn-lg"><span
                            class="glyphicon glyphicon-shopping-cart"></span> Checkout
                </button>
            </a>
            <a href="{{ path('mix_s_cart_clear') }}">
                <button type="button" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-trash"></span>
                    Clear Cart
                </button>
            </a>
        </div>
    {% else %}
        <br><br>
        <div align="center"><h3> Your Cart is empty!</h3></div>
    {% endif %}
    <br>
    <div align="center">
        <div class="navigation">
            {{ knp_pagination_render(items) }}
        </div>
    </div>
    <br>
    <div align="center">
        <a href="{{ path('mix_s_inventory_display') }}">
            <button type="button" class="btn btn-info btn-lg"><span
                        class="glyphicon glyphicon-briefcase"></span> Inventory
            </button>
        </a>
    </div>
{% endblock %}
